@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
}
* {
    margin: 0;
}
header {
    background-color: rgb(206, 233, 53);
    padding: 30px;
}
.Elementos {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 150px;
}
section {
   padding: 150px; 
   margin: 100px;
}
footer {
    background-color: black;
    color: white;
}
.Carta {
    border: 2px solid rgb(236, 253, 5);
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.Carta:hover {
    transform: scale(1.05);
}
a {
    color: black;
    text-decoration: none;
}
#Caja {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#Box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    gap: 15px;
}
#Titulo {
    padding: 10px;
}