<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electrodomésticos Ecologicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <h1 id="Titulo">Electrodomésticos De Bajo Recursos</h1>
    
    <div id="Box">
         <div class="Carta">Refrigeradores <br> eficientes</div>
         <div class="Carta">Lavadoras de<br> bajo consumo</div>
         <div class="Carta">Iluminación <br> LED</div>
    </div>
</body>
</html>